<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Contacts -
      {% block title_block %}
        Contacts
      {% endblock %}
    </title>
  </head>
  <body>
    <div>
      {% block body_block %}
        default content
      {% endblock %}
    </div>
    <hr>
    <div>
      <ul>
        <li><a href="{% url 'contacts:add_contact' %}">Add Contact</a></li>
        <li><a href="{% url 'contacts:index' %}">Home</a></li>
      </ul>
    </div>
  </body>
</html>
