{% extends 'contacts/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Home
{% endblock %}

{% block body_block %}
  <h1>Contacts</h1>
  <div class="">
    {% if contacts %}
      <ul>
        {% for contact in contacts %}
          <li>
            <a href="{% url 'contacts:show_contact' contact.id %}">
              {{ contact.first_name }} {{ contact.last_name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no contacts present.</p>
    {% endif %}
  </div>
{% endblock %}
