<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
  </head>
  <body>
    <h1>Contacts</h1>
    <div class="">
      {% if contacts %}
        <ul>
          {% for contact in contacts %}
            <li>
              <a href="{% url 'contacts:show_contact' contact.id %}">
                {{ contact.first_name }} {{ contact.last_name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>There are no contacts present.</p>
      {% endif %}
    </div>
    <!-- <img src="{% static 'images/earth.jpg' %}" alt="earth" style="width: 300px;"> -->
  </body>
</html>
